<table>
    <form method="POST" action="/auth/register">
        <tr>
            <td>Name</td>
            <td><input required type="text" name="name" id="name"/></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td><input required type="email" name="email" id="email"/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input required type="password" name="password" id="password"/></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" id="registerBtn">Register</button></td>
        </tr>
    </form>
</table>